.popup-img__close-icon {
  background-image: url(../../../images/close-icon.svg);
  width: 41px;
  height: 41px;
  background-size: contain;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, .0);
  outline: 0;
  position: absolute;
  top: -38px;
  right: -38px;
}

@media screen and (min-width: 920px) {
  .popup-img__close-icon:hover {
    opacity: 0.6;
  }

  .popup-img__close-icon {
    cursor: pointer;
  }
}
